<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
$(function() {
	var h = $(window).height();

	$('#wrap').css('display','none');
	$('#loader-bg ,#loader').height(h).css('display','block');
});

$(window).load(function () { //全ての読み込みが完了したら実行
	//$(window).ready(function () { //全ての読み込みが完了したら実行
	$('#loader-bg').delay(900).fadeOut(800);
	$('#loader').delay(600).fadeOut(300);
	$('#wrap').css('display', 'block');
});

//10秒たったら強制的にロード画面を非表示
$(function(){
	setTimeout('stopload()',10000);
});

function stopload(){
	$('#wrap').css('display','block');
	$('#loader-bg').delay(900).fadeOut(800);
	$('#loader').delay(600).fadeOut(300);
}
		</script>



		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<title><%= @viewtitle %></title>
	</head>
	<body id="warp">
		<div id="loader-bg">
			<div id="loader">
				<img src="/images/ajaxLoader.gif" width="100px" height="100px" alt="Now Loading..." />
				<p>Now Loading...</p>
			</div>
		</div>
		<div id="wrap">
			<!--div id="loader-bg">
		 <div id="loader">
		 <img src="images/ajaxLoader.gif" width="100px" height="100px" alt="Now Loading..." />
		 <p>Now Loading...</p>
		 </div>
		 </div-->



		 <div class="all">
			 <div>
				 <button class="floating"><a href="#top">↑↑</a></button>
			 </div>



			 <table class="layout-table" width="100%">
				 <tr>
					 <td>
						 <table class="top-table">
							 <tr>
								 <td class="top-form">
									 <div class="search-form">
										 <form action="/search" method="post">
											 <p>検索：<input type="text" name="word" id="word"><button type="submit" >検索</button></p>
											 <!--span id="btn">
												 <button id="pushOnlyOnce" class="btnOn"><span>検索</span></button>
											 </span-->
										 </form>
									 </div>
								 </td>
								 <div>
									 <% if !current_user.nil? %>
										 <td class="top-name">
												 <p>こんにちは、<%= current_user.name %>さん</p>
										 </td>
										 <td class="top-in">
											 <ul id="menu2">
												 <li class="menu_in_out"><p><a href="/signout">ログアウト</a></p></li>
												 <li class="menu_in_list"><p><a href="/list">きになるリスト</a></p></li>
											 </ul>
										 </td>
									 <% else %>
										 <td class="top-no">
											 <ul id="menu2">
												 <li class="menu_out_in"><a href="/signin">ログイン</a></li>
												 <li class="menu_out_up"><a href="/signup">新規会員登録</a></li>
											 </ul>
										 </td>
									 <% end %>
								 </div>
							 </tr>
						 </table>
					 </td>
				 </tr>
				 <tr>
					 <td class="layout">
						 <%= yield %>
					 </td>
				 </tr>
			 </table>
		 </div>
		 </div>
	</body>
	<!--script>

	 $('#pushOnlyOnce').one('click', function() {
	 $(this).removeClass('btnOn').addClass('btnOff');
	 $('#pushOnlyOnce').html('検索中しばらくお待ちください');
	 });

	 </script-->




</html>
