<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<title><%= @viewtitle %></title>
	</head>
	<body>
		<div class="all">
			<table class="layout-table">
				<tr>
					<td>

						<div class="search-form">
							<form action="/search" method="post">
								<p>検索：<input type="text" name="word"></p>
								<p><input type="submit" value="検索"></p>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<%= yield %>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
